#rightSidebar {
  position: fixed;
  z-index: 99;
  right: 0;
  top: var(--headerHeight);
  width: calc(var(--rightSidebar) - var(--leftMargin));
  height: 90%;
  height: calc(100% - 10px - var(--headerHeight));
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 20px;
  color: #417ff2;
}

.rightSidebarButton {
  margin: 5px 0;
}

.contact {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.rightSidebarButton a {
  font-size: 24px;
  font-weight: normal;
}

#rightSidebar p {
  font-size: 24px;
  margin-top: 0px;
}

@media (max-width: 786px) {
  #rightSidebar {
    background-color: #010101;
    width: 50%;
    margin-right: 1px;
  }

  .closed {
    width: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    transition: 1s;
  }
}
