img {
  max-width: 100%;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: fit-content;
  background-color: #303036;
  left: 0;
  top: 0;
  display: flex;
  z-index: 100;
}
.sidebar_button_menu {
  text-align: center;
  height: 100%;
  width: var(--sidebarButtonWidth);
  background-color: black;
}
.sidebar-link_list {
  height: 100%;
  width: var(--sidebarWidth);
  display: flex;
  flex-direction: column;
}
.sidebar-link_list button {
  font-size: x-large;
  padding: 5px 0;
}
