img {
  max-width: 100%;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: var(--sidebarWidth);
  left: 0;
  top: var(--headerHeight);
  display: flex;
  z-index: 99;
  border-left: 3px solid #0054a6;
  margin-left: var(--leftMargin);
  padding: 0 20px;
  box-sizing: border-box;
}

.sidebarNavigation {
  height: 100%;
  width: 100%;
}

.sidebarButton {
  margin: 5px 0;
}

@media (max-width: 768px) {
  #sidebar {
    background-color: #010101;
    margin-left: 0;
    border-left: 0px;
    width: 50%;
  }
  .closed {
    width: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    transition: 1s;
  }

  .open {
    transition: 1s;
    position: absolute !important;
  }
}
/* .sidebar_button_menu { 
  text-align: center;
  height: 100%;
  width: var(--sidebarButtonWidth);
  background-color: black;
}
.sidebar-link_list {
  height: 100%;
  width: var(--sidebarWidth);
  display: flex;
  flex-direction: column;
}
.sidebar-link_list button {
  font-size: x-large;
  padding: 5px 0;
} */
