.layoutBackground {
  position: relative;
  height: 100%;
  display: grid;
  color: black;
  margin: 32px;
  /* max-height: calc(100vh - 64px); */
  overflow: hidden;
}

.layoutBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the image is behind the content */
}

.layoutContent {
  z-index: 1;
  overflow: hidden;
  padding: 2% 4%;
  max-height: 84vh;
}

.layoutContentInner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  height: 100%;
  overflow-y: auto;
}
.layoutScrollable {
  height: 100%;
  overflow-y: auto;
}

.footstepsIcon {
  width: 16px;
  height: 16px;
}
