.layoutBackground {
  position: relative;
  height: 100%;
  display: grid;
  color: black;
  margin: 32px;
  /* max-height: calc(100vh - 64px); */
  overflow: hidden;
}

.layoutBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the image is behind the content */
}

.desktopBookImage {
  display: block;
}

.mobileBookImage {
  display: none;
}

@media (max-width: 768px) {
  .desktopBookImage {
    display: none;
  }

  .mobileBookImage {
    display: block;
  }

  .layoutBackground {
    margin: 2rem 0;

    .layoutContent {
      height: 100%;
      margin: 2rem 1rem;
      margin-right: 1.5rem;
      padding: 0;

      .layoutContentInner {
        grid-template-columns: 1fr;
        gap: 0;
        padding-right: 2rem;
      }
    }
  }

  #left {
    .navigation {
      display: none;
    }
  }

  .MuiDrawer-paper {
    max-width: 100vw;
    width: 100%;

    .drawerNavigation {
      overflow-x: hidden;
      padding: 0 1rem;

      .navigationLink {
        margin: 1rem 0;
      }
    }
  }
}

.layoutContent {
  z-index: 1;
  overflow: hidden;
  padding: 2% 4%;
  height: 84vh;
  max-height: 84vh;
}

.layoutContentInner {
  display: grid;
  grid-template-columns: 45% 45%; /* This is 45% to make room for the 10% gap */
  gap: 10%;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.layoutScrollable {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.footstepsIcon {
  width: 16px;
  height: 16px;
}

.hamburgerMenuButton.MuiButtonBase-root {
  position: absolute;
  right: 0;
  top: 0;
}
