.coreCharacterSheet {
  display: flex;
}

.mainCharacterSheet {
  padding-right: 0.5rem;

  li {
    margin: 0.5rem;
  }
}

.characterSheetHeader {
  padding-right: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 0.5rem 0;
  flex-wrap: wrap;
  .characterSheetHeaderRow {
  }

  p {
    margin: 0;
  }
}

.skillsList {
}

.skillItem {
  display: flex;
  justify-content: space-between;
}

.starRating {
}

.sideBar {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  flex: 0 0 250px;
}

.companyName {
  margin-bottom: 0;
}

.jobTitle {
  margin-top: 0;
}
