#main_content {
  position: relative;
  left: calc(var(--sidebarWidth) + var(--leftMargin) - 4px);
  top: var(--headerHeight);
  width: calc(100% - var(--sidebarWidth) - var(--rightSidebar));
  height: calc(100% - var(--headerHeight));
  padding-top: 10px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

#main_content * {
  color: black;
  font-size: 18px;
}

#main_content_interior {
  margin: 5px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}
