#main_content {
  position: relative;
  left: calc(var(--sidebarWidth) + var(--leftMargin) - 7px);
  top: var(--headerHeight);
  width: var(--mainContent);
  height: calc(100% - var(--headerHeight));
  padding-top: 10px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

#main_content * {
  font-size: 18px;
}

#main_content_interior {
  margin: 5px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}

.resume {
  position: relative;
  left: -50px;
}

#skillTable * {
  text-align: center;
}

#skillTable h4 {
  margin: 0 auto;
}

#skillTable td {
  vertical-align: top;
  width: 25%;
  padding-bottom: 10px;
}

#skillTable img {
  width: 90%;
}

@media (max-width: 768px) {
  #main_content {
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
  }
}
