#header {
  top: 0;
  height: 50%;
  padding-top: 20px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #0054a6;
  margin-left: var(--leftMargin);
  padding-right: 10px;
}

#headerContainer {
  position: fixed;
  height: var(--headerHeight);
  width: 100%;
  background-color: #010101;
  z-index: 100;
}

.namedTitle {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border: 3px solid #0054a6;
  padding: 5px 15px;
  margin-bottom: -3px;
}

.idealPosition {
  margin-top: 5px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-right: 50px;
}

.hamburger {
  position: fixed;
  background-color: white;
  border-radius: 5px;
  max-height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 5px;
}

@media (max-width: 768px) {
  #header * {
    font-size: 30px;
    margin-left: 10px;
  }

  .idealPosition {
    margin-right: 10px;
  }
}
