.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  /* background-color: #f1f1f1; */
  background-color: #303036;
  display: flex;
  height: 100%;
  width: 100%;
}

.tab_links {
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  width: fit-content;
  white-space: nowrap;
  height: 100%;
  background-color: #29293d;
}

.tab_links button {
  padding: 0 5px;
  width: fit-content;
}

.tab_links:hover button:last-child {
  visibility: visible;
}

.tab_links button:last-of-type {
  visibility: hidden;
}

.tab_links-selected {
  background-color: #151515;
}

.tab_links:first-child {
  border-left: 0;
}
.tab_links:last-child {
  margin-right: 0;
}

.tab-button-title {
  width: 75%;
  height: 100%;
}

.tab-button-close {
  width: 25%;
  height: 100%;
}
