body {
  color: #417ff2;
  letter-spacing: 1px;
  width: 100vw;
  height: 100vh;
  /* Variables will be inheritted and used for various sizing */
  --sidebarWidth: 20%;
  --headerHeight: 160px;
  --rightSidebar: 20%;
  --leftMargin: 20px;
  margin: 0 0;
  top: 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #010101;
}

body * {
  font-family: "baskerville";
}

a {
  color: #417ff2;
}

a:hover {
  color: white;
  text-decoration: underline;
}

button {
  color: #417ff2;
  cursor: pointer;
}

.text_only_button {
  padding: 0 0;
  border: none;
  background-color: transparent;
}

.whiteButton {
  background-color: white;
  border-radius: 10px;
  border: 4.28px solid #030303;
  width: 100%;
  height: 44px;
  font-size: 24px;
}

.linkAsText {
  text-decoration: none;
}

h1 {
  text-align: center;
}

.section {
  padding-bottom: 30px;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.align-right {
  right: 0;
}

.buttonWrappedLink:hover,
.buttonWrappedLink:hover a:hover:hover {
  color: #417ff2;
  text-decoration: none;
}

/* Import custom font */
@font-face {
  font-family: "baskerville";
  src: url("../src/assets/font/baske10-webfont.woff2") format("woff2"),
    url("../src/assets/font/baske10-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
