body {
  letter-spacing: 1px;
  width: 100vw;
  height: 100vh;
  /* Variables will be inheritted and used for various sizing */
  --sidebarWidth: 20%;
  --headerHeight: 160px;
  --rightSidebar: 20%;
  --leftMargin: 20px;
  --mainContent: calc(100% - var(--sidebarWidth) - var(--rightSidebar));
  margin: 0 0;
  top: 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #010101;
}

body * {
  font-family: Georgia;
}

a {
  color: #417ff2;
}

a:hover {
  color: black;
  text-decoration: underline;
}

button {
  color: #417ff2;
  cursor: pointer;
}

.text_only_button {
  padding: 0 0;
  border: none;
  background-color: transparent;
}

.whiteButton {
  background-color: white;
  border-radius: 10px;
  border: 4.28px solid #030303;
  width: 100%;
  height: 44px;
  font-size: 24px;
}

.linkAsText {
  text-decoration: none;
}

h1 {
  font-size: 24px !important;
  text-align: center;
}

h2 {
  font-size: 22px !important;
  text-align: center;
}

h3 {
  font-size: 20px !important;
  text-align: center;
}

h4 {
  font-size: 18px !important;
  text-align: center;
}

.section {
  padding-bottom: 30px;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.align-right {
  right: 0;
}

.buttonWrappedLink:hover,
.buttonWrappedLink:hover a:hover:hover {
  color: #417ff2;
  text-decoration: none;
}

#scrollable {
  overflow: scroll;
}

.pdf > div > canvas {
  display: flex !important;
  height: auto !important;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
